/* объявляем глобальные переменные */
:root {
    /* устанавливаем размер для стандартизации элементов */
    --m: 4rem;
    /* используемые цвета */
    --red: #FF6565;
    --pink: #FF64F9;
    --purple: #6B5FFF;
    --blue: #4D8AFF;
    --green: #5BFF89;
    --yellow: #FFEE55;
    --orange: #FF6D1B;
}

/* общие настройки страницы */
body {
    /* фон */
    background-color: #1C1C1C;
    /* подключаем гибкую вёрстку */
    display: flex;
    /* выравниванием контент и содержимое по центру */
    justify-content: center;
    align-items: center;
    /* высота — вся высота окна */
    height: 100vh;
    /* убираем все внешние отступы */
    margin: 0;
}

/* кнопка */
button {
    /* задаём границу */
    border: calc(0.08 * var(--m)) solid transparent;
    /* относительное позиционирование элементов */
    position: relative;
    /* цвет текста */
    color: #F3F3F3;
    /* шрифт */
    font-family: 'Space Grotesk';
    /* размер шрифта */
    font-size: var(--m);
    /* радиус скругления кнопки */
    border-radius: calc(0.7 * var(--m));
    /* внутренний отступ текста от кнопки */
    padding: calc(0.5 * var(--m)) calc(1 * var(--m));
    /* гибкая вёрстка */
    display: flex;
    /* выравниваем содержимое по центру */
    justify-content: center;
    /* меняем курсор, который появится на кнопке */
    cursor: pointer;
    /* делаем фоновый градиент по границе кнопки */
    background: linear-gradient(#121213, #121213), linear-gradient(#121213 50%, rgba(18, 18, 19, 0.6) 80%, rgba(18, 18, 19, 0)), linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
    /* учитываем все границы и внутренние отступы для определения размера цветной окантовки */
    background-origin: border-box;
    /* как мы обрезаем фон */
    background-clip: padding-box, border-box, border-box;
    /* растягиваем фоновый градиент */
    background-size: 200%;
    /* включаем анимацию */
    animation: animate 2s infinite linear;
}

/* псевдоэлемент, который отвечает за фоновую подсветку */
button::before {
    /* добавляем пустой контент, чтобы появился блок */
    content: '';
    /* делаем фоновый градиент под кнопкой */
    background: linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
    /* высота и ширина градиента */
    height: 60%;
    width: 90%;
    /* включаем абсолютное позиционирование */
    position: absolute;
    /* сдвигаем градиент вниз относительно кнопки */
    bottom: -10%;
    /* перемещаем слой с градиентом на самый низ */
    z-index: -5;
    /* растягиваем фоновый градиент */
    background-size: 200%;
    /* запускаем анимацию */
    animation: animate 2s infinite linear;
    /* добавляем размытие к градиенту */
    filter: blur(calc(.75 * var(--m)));
}

/* правила анимации */
@keyframes animate {

    /* учитываем растяжение фона в анимации */
    0% {
        background-position: 0
    }

    100% {
        background-position: 200%
    }
}

/* действия при наведении мыши */
button:hover,
button:hover::before {
    /* ускоряем анимацию */
    animation: animate 1s infinite linear;
}